* {
  /*quitar margenes y normalmente se usa al empezar una página. PD: Normalize.css */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "encabezado"
    "sobre-mi"
    "academico"
    "habilidades"
    "idiomas"
    "familia"
    "hobbies"
    "futbol"
    "overwatch"
    "valorant"
    "halo"
    "footer";

  grid-template-columns: auto;
  grid-template-rows: auto;
}

body > * {
  border: solid;
}

#overwatch > * {
  border: solid;
}

header {
  display: flex;
  grid-area: encabezado;
  justify-content: end;
  background-color: aqua;
}

header p {
  margin: 30px;
  font-size: 3vh;
}

/**ABOUT ME **/
#about-me {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;

  grid-area: sobre-mi;
}

#about-me > * {
  padding: 1px;
}

#about-me h2 {
  font-size: 8vh;
}

#about-me p {
  font-size: 6vh;
  text-align: left;
}

#about-me img {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  object-fit: cover;
}

/** ACADEMIC **/
#academic {
  flex-wrap: wrap;
  grid-area: academico;
}

/** Subtitulos **/
#academic h2,
#skills h2,
#overwatch h2,
#valorant h2,
#halo h2,
#football h2,
#languages h2, #hobbies h2 {
  font-size: 5vh;
  text-align: center;
}

h2 img {
  height: 32px;
  width: 32px;
}

#academic li {
  font-size: 4vh;
  text-align: left;
  margin-bottom: 10px;
}
#academic img {
  height: 600px;
  width: 600px;
  border-radius: 50%;
}

/** SKILLS**/
#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-area: habilidades;
}

#skills img {
  height: 150px;
  width: 150px;
}

#tech {
  display: flex;
  flex-wrap: wrap;
}

#tech img {
  margin: 100px;
}

#tech img:hover, #can-speak img:hover {
  transform: scale(1.5);
}

.titulo-clips,
#subtitulo-futbol {
  display: flex;
  justify-content: center;
  align-items: center;
}

#subtitulo-hobbie-ow,
#subtitulo-hobbie-val,
#subtitulo-hobbie-halo,
#subtitulo-idioma,
#subtitulo-skills,
#subtitulo-academic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

#subtitulo-futbol img,
#subtitulo-hobbie-ow img,
#subtitulo-hobbie-val img,
#subtitulo-hobbie-halo img,
#subtitulo-academic img,
#subtitulo-skills img,
#subtitulo-idioma img {
  height: 50px;
  width: 50px;
}

#can-speak {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#english,
#spanish {
  display: flex;
  align-items: center;
}

#english > *,
#spanish > * {
  margin: 10px;
}

#spanish img,
#english img {
  height: 50px;
  width: 80px;
}



/** CLIPS **/

iframe {
  height: 50vh;
  width: 80%;
}
#wm {
  background-image: url(../img/wm-picture-1.jpg);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#tracer {
  background-image: url(../img/tracer-picture-1.jpg);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#pharah {
  background-image: url(../img/pharah-picture-1.png);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#dva {
  background-image: url(../img/dva-picture-1.jpg);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#ashe {
  background-image: url(../img/ashe-picture-1.jpg);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#juno {
  background-image: url(../img/juno-picture-1.png);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#viper {
  background-image: url(../img/viper-picture-2.jpg);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#skye {
  background-image: url(../img/skye-picture-2.jpg);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#halo-clip-1 {
  background-image: url(../img/halo-miniature.jpg);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#halo-clip-2 {
  background-image: url(../img/halo-miniature.jpg);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#family {
  grid-area: familia;
}

#languages {
  grid-area: idiomas;
}

#hobbies {
  grid-area: hobbies;
}

#football {
  grid-area: futbol;
}

/** Overwatch**/
#overwatch #subtitulo-hobbie-ow {
  grid-area: subtitulo-jugadas-ow;
}

.titulo-clips img {
  width: 50px;
  height: 50px;
}

#overwatch div:not(:first-child),
#valorant div:not(:first-child),
#halo div:not(:first-child),
#football {
  display: grid;
  place-items: center;
}

/** Valorant **/

h3 {
  background-color: aqua;
}

#valorant #subtitulo-hobbie-val {
  grid-area: subtitulo-jugadas-val;
}

#halo #subtitulo-hobbie-halo {
  grid-area: subtitulo-jugadas-halo;
}

/** MEDIA QUERIES **/
@media (min-width: 321px) and (max-width: 768px) {
  #overwatch {
    display: grid;
    grid-template-areas:
      "subtitulo-jugadas-ow subtitulo-jugadas-ow"
      "wm tracer"
      "phara dva"
      "ashe juno";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  #valorant {
    display: grid;
    grid-template-areas:
      "subtitulo-jugadas-val subtitulo-jugadas-val"
      "skye viper";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  #halo {
    display: grid;
    grid-template-areas:
      "subtitulo-jugadas-halo subtitulo-jugadas-halo"
      "halo-clip-1 halo-clip-2";
  }
}

@media (min-width: 768px) {
  #overwatch {
    display: grid;
    grid-template-areas:
      "subtitulo-jugadas-ow subtitulo-jugadas-ow subtitulo-jugadas-ow"
      "wm tracer phara"
      "dva ashe juno";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  #valorant {
    display: grid;
    grid-template-areas:
      "subtitulo-jugadas-val subtitulo-jugadas-val"
      "skye viper";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  #halo {
    display: grid;
    grid-template-areas:
      "subtitulo-jugadas-halo subtitulo-jugadas-halo "
      "halo-clip-1 halo-clip-2";
  }
}


/** Carrusel **/

.carousel {
  position: relative;
  width: 90%;
  max-width: 600px; /* Ajusta el tamaño máximo del carrusel */
  overflow: hidden;
  margin: 10px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  vertical-align: middle;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-control.prev {
  left: 0;
}

.carousel-control.next {
  right: 0;
}


.carousel-item img {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: 400px; /* Ajusta este valor según el tamaño que desees */
  object-fit: cover; /* Asegura que la imagen cubra completamente el espacio asignado */
}



