* {
  /*quitar margenes y normalmente se usa al empezar una página. PD: Normalize.css */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "encabezado"
    "sobre-mi"
    "redes-sociales"
    "academico"
    "habilidades"
    "idiomas"
    "hobbies"
    "futbol"
    "overwatch"
    "valorant"
    "halo"
    "footer";

  grid-template-columns: auto;
  grid-template-rows: auto;
}

body > * {
  border: solid;
}

#overwatch > * {
  border: solid;
}

header {
  display: flex;
  grid-area: encabezado;
  justify-content: center;
  background-color: aqua;
}

header a {
  margin: 30px;
  font-size: 3vh;
}

/**ABOUT ME **/
#about-me {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;

  grid-area: sobre-mi;
}


#profile-picture{
  display: flex;
  justify-content: center;
  width: 100%;
}



#about-me > * {
  padding: 1px;
}

#about-me h2 {
  font-size: 8vh;
}

#about-me p {
  font-size: 6vh;
  text-align: left;
}

#about-me img {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  object-fit: cover;
}

#social-media{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-area: redes-sociales;
}

#social-media img{
  height: 100px;
  width: 100px;
}

#social-media > div{
  margin: 10px 50px;
}

#contact{
  display: flex;
  justify-content: space-between;
  margin: 10px 100px;
}

#contact img{
  height: 50px;
  width: 50px;
}

#wa,#email{
  display: flex;
  align-items: center;
}

/** ACADEMIC **/
#academic {
  grid-area: academico;
}

#studies{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


#studies-picture{
  margin: 20px 20px;
}
#studies-picture img{
  height: 200px;
  width: 400px;

}

/** Subtitulos **/
#academic h2,
#skills h2,
#overwatch h2,
#valorant h2,
#halo h2,
#football h2,
#languages h2,
#hobbies h2 {
  font-size: 5vh;
  text-align: center;
}

h2 img {
  height: 32px;
  width: 32px;
}

#academic li {
  font-size: 4vh;
  text-align: left;
  margin-bottom: 10px;
}


/** SKILLS**/
#skills {
  grid-area: habilidades;
}

#skills img {
  height: 120px;
  width: 120px;
}

#tech {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#tech img {
  margin: 40px 100px;
}




#tech img:hover,
#can-speak img:hover {
  transform: scale(1.3);
}

#subtitulo-futbol {
  display: flex;
  justify-content: center;
  align-items: center;
}


.titulo-clips{
  display: flex;
  align-items: center;
  text-align: center;

}


#subtitulo-hobbie-ow,
#subtitulo-hobbie-val,
#subtitulo-hobbie-halo,
#subtitulo-idioma,
#subtitulo-skills,
#subtitulo-academic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

}


#subtitulo-hobbie-ow{
  background: linear-gradient(to right,#ff7c09,#1f1d1f);
}

#subtitulo-hobbie-val{
  background: linear-gradient(to right,#fa1f1f,#1f1d1f);
}

#subtitulo-hobbie-halo{
  background: linear-gradient(to right,#13c004,#1307f8);
}

#subtitulo-futbol img,
#subtitulo-hobbie-ow img,
#subtitulo-hobbie-val img,
#subtitulo-hobbie-halo img,
#subtitulo-academic img,
#subtitulo-skills img,
#subtitulo-idioma img {
  height: 50px;
  width: 50px;
}

#can-speak {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#can-speak > div{
  margin: 5px;
}

#english,
#spanish {
  display: flex;
  align-items: center;
}

#english > *,
#spanish > * {
  margin: 10px;
}

#spanish img,
#english img {
  height: 50px;
  width: 80px;
}

/** CLIPS **/

iframe {
  height: 50vh;
  width: 80%;
  margin: 10px;
}
#wm {
  background-image: url(../img/wm-picture-1.jpg);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#tracer {
  background-image: url(../img/tracer-picture-1.jpg);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#pharah {
  background-image: url(../img/pharah-picture-1.png);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#dva {
  background-image: url(../img/dva-picture-1.jpg);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#ashe {
  background-image: url(../img/ashe-picture-1.jpg);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#juno {
  background-image: url(../img/juno-picture-1.png);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#viper {
  background-image: url(../img/viper-picture-2.jpg);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#skye {
  background-image: url(../img/skye-picture-2.jpg);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#halo-clip-1 {
  background-image: url(../img/halo-miniature.jpg);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#halo-clip-2 {
  background-image: url(../img/halo-miniature.jpg);
  background-size: cover; /* Mantiene la imagen completa */
  background-position: center;
  background-repeat: no-repeat;
}

#family {
  grid-area: familia;
}

#languages {
  grid-area: idiomas;
}

#hobbies {
  grid-area: hobbies;
}

#football {
  grid-area: futbol;
}

/** Overwatch**/
#overwatch #subtitulo-hobbie-ow {
  grid-area: subtitulo-jugadas-ow;
}

.titulo-clips img {
  width: 50px;
  height: 50px;
}

#overwatch div:not(:first-child),
#valorant div:not(:first-child),
#halo div:not(:first-child),
#football {
  display: grid;
  place-items: center;
}

/** Valorant **/



#valorant #subtitulo-hobbie-val {
  grid-area: subtitulo-jugadas-val;
}

#halo #subtitulo-hobbie-halo {
  grid-area: subtitulo-jugadas-halo;
}

/** MEDIA QUERIES **/
@media (min-width: 321px) and (max-width: 768px) {
  #overwatch {
    display: grid;
    grid-template-areas:
      "subtitulo-jugadas-ow subtitulo-jugadas-ow"
      "wm tracer"
      "phara dva"
      "ashe juno";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  #valorant {
    display: grid;
    grid-template-areas:
      "subtitulo-jugadas-val subtitulo-jugadas-val"
      "skye viper";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  #halo {
    display: grid;
    grid-template-areas:
      "subtitulo-jugadas-halo subtitulo-jugadas-halo"
      "halo-clip-1 halo-clip-2";
  }
}

@media (min-width: 768px) {
  #overwatch {
    display: grid;
    grid-template-areas:
      "subtitulo-jugadas-ow subtitulo-jugadas-ow subtitulo-jugadas-ow"
      "wm tracer phara"
      "dva ashe juno";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  #valorant {
    display: grid;
    grid-template-areas:
      "subtitulo-jugadas-val subtitulo-jugadas-val"
      "skye viper";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  #halo {
    display: grid;
    grid-template-areas:
      "subtitulo-jugadas-halo subtitulo-jugadas-halo "
      "halo-clip-1 halo-clip-2";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

/** Carrusel **/

.carousel {
  position: relative;
  width: 90%;
  max-width: 600px; /* Ajusta el tamaño máximo del carrusel */
  overflow: hidden;
  margin: 10px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  vertical-align: middle;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-control.prev {
  left: 0;
}

.carousel-control.next {
  right: 0;
}

.carousel-item img {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: 400px; /* Ajusta este valor según el tamaño que desees */
  object-fit: cover; /* Asegura que la imagen cubra completamente el espacio asignado */
}

/** Desplegable **/

.menu {
  background-color: cyan;
  padding: 10px;
  text-align: center;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}
.menu ul li {
  position: relative;
  margin: 0 20px;
}
.menu ul li a {
  text-decoration: none;
  margin: 30px;
  font-size: 3vh;
}

/* Estilos para el desplegable */
.menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: cyan;
  padding: 0;
}
.menu ul ul li {
  margin: 0;
}
.menu ul ul ul {
  top: 0;
  left: 100%;
  padding: 0;
}

/* Mostrar desplegable al pasar el ratón */
.menu ul li:hover > ul {
  display: block;
}

/** Tooltip**/


/** colour border **/

#tech img:hover {
  filter: drop-shadow(0px 0px 12px blue);
}



